.nav {
    -fx-padding: 5.0 0.0 0.0 0.0;
    -fx-spacing: 10.0;
}

.padded {
    -fx-padding: 5 0 0 0;
}

.fpad {
    -fx-padding: 5;
}

.top-nav {
    -fx-background-color: linear-gradient(to bottom, #3F3F3F 0%, #222222 100%);
}

.top-bar-button {
    -fx-background-color: linear-gradient(to bottom, #3F3F3F 0%, #222222 100%);
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.top-bar-button:hover {
    -fx-background-color: linear-gradient(to top, #3F3F3F 0%, #222222 100%);
}

.top-bar-button:armed {
    -fx-text-fill: #6cb3e7;
}

.left-panel {

    -fx-background-color: #3f3f3f;
    -fx-border-color: #4e4e4e;
    -fx-border-width: 2px;

}

.left-panel-button {

    -fx-background-color: #3F3F3F;
    -fx-border-color: #4e4e4e;
    -fx-border-width: 1px;
    -fx-border-style: solid hidden solid hidden;
    -fx-text-fill: white;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

.left-panel-button:hover {
    -fx-background-color: #2b2b2b;
}

.left-panel-button:armed {
    -fx-text-fill: #6cb3e7;
}

.content-header {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
}

.content-header-text {
    -fx-font-size: 11px;
}

.money-low {
    -fx-text-fill: #e71a1a;
}

.money-high {
    -fx-text-fill: green;
}