.list-cell {
    -fx-padding: 10px;
    -fx-background-color: transparent, -fx-background;
    -fx-background-insets: 0px, 2px;
}

.list-cell:empty {
    -fx-padding: 2px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.dialog-root {
    -fx-padding: 25 25 25 25;
    -fx-border-color: black;
    -fx-border-style: solid;
}