.info-header {
    -fx-background-color: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #777777;
}

.back {
    -fx-background-color: #e3e3e3;
}

.full-border {
    -fx-border-color: #777777;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}